<p>Jürgen</p>
<!--ngif true-->
<!--<app-test *ngIf="sw" name="jurgen"></app-test>-->
<!--ngif false-->
<button (click) = "sw = false;">ChangeSW</button>
<!--<app-test name="jurgen"></app-test>
<app-test 
[name] = "name"
age = "22"
description = "buen chango"
(clickSave) = "clickSaveChild($event)"
></app-test>

<button (click)=changesName()>changes names</button>-->

<!--ng for-->
<p>NGFOR</p>
<div *ngFor="let person of personas; let i = index">
  <p>{{person}} ===== {{i}}</p>
</div>

<!--ngSwitch-->
<!--Es un switch normal-->
<p>NGSWITCH</p>
<div [ngSwitch]="aux">
  <p *ngSwitchCase="3">El valor es 3</p>
  <p *ngSwitchCase="2">El valor es 2</p>
  <p *ngSwitchDefault>No es ni 3 ni 2</p>
</div>

<p>NGSTYLE</p>
<!--ngStyle ejemplo de como es un style
<div style="border : 1px solid red; color : green">
  persona
</div>-->

<!--ngStyle 
Este ejemplo es de el style de como se pondria un color ya definido y no que vaya cambiando como con aux color '1px solid red'-->
<button (click)="auxColor = 'yellow'">amarillo</button>
<button (click)="auxColor = 'green'">verde</button>
<button (click)="auxColor = 'red'">rojo</button>
<!--Esto es para mas de un estilo modifica mas de un estilo-->
<div [ngStyle]="{'border' : '1px solid ' + auxColor, 'color' : auxColor}">
  persona
</div>
<!--Esto es para un estilo solo modificar uno-->
<div [style.color]="auxColor">
  autos
</div>

<p>NGCLASS</p>
<!--ngClass
Mandando una cantidad n de clases-->
<button (click)="auxClass = !auxClass">Change class</button>
<div [ngClass]="{'test1': auxClass, 'test2': !auxClass}">
  ng class example
</div>

<!--ngClass
Mandando una cantidad de solo 1 clase-->
<div [class.test1] = "auxClass">
  class example
</div>

<p>NGFOR</p>
<!--ngFor
Recorre de la lista persons y nos devuelve en la vista-->
<div *ngFor="let person of persons">
  <div [ngStyle]="{'background':person.enable ? 'yellow' : 'red'}">
    <persona [name] = "person.name"
    [lastName] = "person.lastName"
    [age] = "person.age"
    [enable] = "person.enable">
    </persona>
  </div>
</div>

<p>COMPONENTS AND MODULES</p>
<!--Components y modulos para que se vean en nuestra vista-->
<app-prod1></app-prod1>

<app-prod2></app-prod2>

<app-prod3></app-prod3>

<app-ad1></app-ad1>

<app-ad2></app-ad2>

<app-ad3></app-ad3>

<app-us1></app-us1>

<app-us2></app-us2>

<!--pipes-->
<p>PIPES</p>

<p>PIPE JSON: {{persons | json}}</p>

<p>PIPE UPPERCASE: {{ name | uppercase}}</p>

<p>PIPE LOWERCASE: {{ name | lowercase}}</p>

<p>PIPE DATE: {{'12/08/2020' | date: "MM/dd/yy"}}</p>

<p>MI PROPIO PIPE: {{name | mipipe}}</p>

<p>EXPO PIPE: {{4 | expo : 2 : 'hola'}}</p>

VALUE : <input type="text" [(ngModel)]="auxNumber">
EXPONENT : <input type="text" [(ngModel)]="auxExponent">

<p>{{auxNumber | expo : auxExponent : 'Ho'}}</p>