<div>
  
<p *ngIf="getTotalStock() === 0">
    VENDISTE TODO
</p>

<p>Stock Total: {{getTotalStock()}}</p>

	<p>Nacional</p>

	<div style="display: flex; flexDirection: row;">
		<div *ngFor="let restaurant of comida.nacional">
			<comida
      [nombre]="restaurant.nombre"
      [stock]="restaurant.stock"
      [precio]="restaurant.precio"
      [tipo]="restaurant.tipo"
      (comprar)="comprar(restaurant, 'nacional')">
      </comida>
		</div>  
	</div>

  <p>Interacional</p>

	<div style="display: flex; flexDirection: row;">
		<div *ngFor="let restaurant of comida.internacional">
			<comida
      [nombre]="restaurant.nombre"
      [stock]="restaurant.stock"
      [precio]="restaurant.precio"
      [tipo]="restaurant.tipo"
      (comprar)="comprar(restaurant, 'internacional')">
      </comida>
		</div>  
	</div>
</div>