<p>Jürgen</p>
<!--ngif true-->
<!--<app-test *ngIf="sw" name="jurgen"></app-test>-->
<!--ngif false-->
<button (click) = "sw = false;">ChangeSW</button>
<!--<app-test name="jurgen"></app-test>
<app-test 
[name] = "name"
age = "22"
description = "buen chango"
(clickSave) = "clickSaveChild($event)"
></app-test>

<button (click)=changesName()>changes names</button>-->

<!--ng for-->
<div *ngFor="let person of personas; let i = index">
  <p>{{person}} ===== {{i}}</p>
</div>

<!--ngSwitch-->
<!--Es un switch normal-->
<div [ngSwitch]="aux">
  <p *ngSwitchCase="3">El valor es 3</p>
  <p *ngSwitchCase="2">El valor es 2</p>
  <p *ngSwitchDefault>No es ni 3 ni 2</p>
</div>

